<section>
  <div class="container-html">
    <div class="sobre">
      <h2>Sobre nós</h2>
    </div>
    <div class="texto-img">
      <figure>
        <img
          class="imagem-about"
          src="../../../assets/img/imagem-about.avif"
          alt="imagem da sessão sobre nós"
        />
      </figure>
      <article>
        <p>
          Meu nome é Lindemberg e desde a minha infância, desenvolvi uma
          profunda afinidade e convivência com animais de estimação. Neste
          espaço, gostaria de compartilhar as origens e motivações que deram
          vida à ideia de criar um site voltado para a arrecadação de doações
          destinadas a auxiliar animais de rua.
        </p>
        <p>
          Tudo teve início quando me deparei com uma cachorrinha de rua chamada
          Mel, que estava visivelmente debilitada e desnutrida. Com os cuidados
          que eu e pessoas próximas proporcionamos a ela, Mel conseguiu
          recuperar seu peso e, com isso, ganhou uma nova vida, repleta de saúde
          e vitalidade.
        </p>
        <p>
          Inspirado por essa experiência, tomei a decisão de estabelecer este
          site com o objetivo de receber doações, visando não apenas continuar a
          prestar assistência a Mel, mas também a outros animais em situação de
          vulnerabilidade. Sua contribuição é fundamental para fazermos a
          diferença nas vidas desses seres indefesos. Juntos, podemos tornar o
          mundo um lugar mais acolhedor para eles.
        </p>
      </article>
    </div>
  </div>
</section>
