<section>
  <div class="container-html">
    <div class="sobre">
      <h2>Sobre nós</h2>
    </div>
    <div class="texto-img">
      <img [src]="urlImg" alt="imagem da sessão sobre nós" />
      <article>
        <p>
          Me chamo Lindemberg e desde criança, gosto e me acostumei a conviver
          com animais de estimação, aqui deixarei relatado as causas e como
          surgiu a ideia de criar um site para
          <span>receber doações e ajudar</span> animais de rua.
        </p>
        <p>
          <span>Tudo começou</span>
          quando vi uma cachorrinha de rua(Mel) e ela
          <span>estava magrinha</span>, através de <span>cuidados</span> meus e
          de pessoas próximas, ela recuperou peso e se tornou uma cachorra mais
          saudável e energética.
        </p>
        <p>
          Por isso, decidi criar o site para receber <span>doações</span> e
          poder continuar <span>ajudando</span> ela e outros animais.
        </p>
      </article>
    </div>
  </div>
</section>
