<section>
  <div class="sobre">
    <h2>Sobre nós</h2>
  </div>
  <div class="texto-img">
    <img [src]="urlImg" alt="imagem da sessão sobre nós" />
    <h2>
      Me chamo Lindemberg e desde criança, gosto e me acostumei a conviver com
      animais de estimação, aqui deixarei relatado as causas e como surgiu a
      ideia de criar um site para receber doações e ajudar animais de rua.
      <p>
        <span>Tudo começou</span>
        quando vi uma cachorra de rua e ela estava magrinha, através de cuidados
        meus e de pessoas próximas, ela recuperou peso e se tornou uma cachorra
        mais saudável e energética.
      </p>
      <p>
        Por isso, decidi criar o site para receber doações e poder continuar
        ajudando ela e outros animais.
      </p>
    </h2>
  </div>
</section>
