.container-html {
  margin-left: 20px;
  margin-right: 20px;
}
.sobre {
  display: flex;
  justify-content: center;
  text-decoration: underline;
}
h2 {
  font-weight: bold;
}

.texto-img {
  display: flex;
}

.texto-img figure img {
  max-height: 100%;
  width: 100%;
  border-radius: 300px;
  margin-left: -10px;
  margin-right: 10px;
}
.texto-img img:hover {
  border: outset 3px rgb(10, 151, 46);
  transition: 1s linear;
  transform: translateY(-25px);
}
p {
  font-weight: bold;
  font-size: 24px;
}

span {
  text-decoration: underline;
  color: rgb(10, 151, 46);
}

@media (max-width: 768px) {
  img {
    display: none;
  }
}
