<footer class="rodape">
  <div class="card text-center">
    <div class="card-header fw-bold">Doe e ajude os animaisinhos de rua!</div>
    <div class="card-body">
      <b class="card-title">Faça o bem sem olhar a quem.</b>
      <p class="card-text">
        &copy; <time datetime="2023-10-08T11:00">2023</time> Desenvolvido e
        modificado por Lindemberg
      </p>
      <button (click)="scrollToTop()" class="btn btn-primary">
        <i class="fa-solid fa-arrow-up fa-fade fa-xl"></i> Voltar ao topo
      </button>
    </div>
    <div class="card-footer text-body-secondary">
      Você está acessando em: {{ dataAtual() }}
    </div>
  </div>
</footer>
