<div class="home">
  <a routerLink="/" class="btn btn-primary"
    ><i class="fa-solid fa-house"></i> Retornar a página inicial</a
  >
</div>
<section class="cards">
  <div class="card" style="width: 18rem">
    <img [src]="imgDogs" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title"><strong>Nome: aaaaa</strong></h5>
      <p class="card-text">
        <strong>Raça: aaaaaaaa</strong>
      </p>
      <p><strong>Idade: 123</strong></p>
      <div class="btn-locale">
        <button class="btn-info">Mais informações</button>
      </div>
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <img [src]="imgDogs" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title"><strong>Nome: aaaaa</strong></h5>
      <p class="card-text">
        <strong>Raça: aaaaaaaa</strong>
      </p>
      <p><strong>Idade: 123</strong></p>
      <div class="btn-locale">
        <button class="btn-info">Mais informações</button>
      </div>
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <img [src]="imgDogs" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title"><strong>Nome: aaaaa</strong></h5>
      <p class="card-text">
        <strong>Raça: aaaaaaaa</strong>
      </p>
      <p><strong>Idade: 123</strong></p>
      <div class="btn-locale">
        <button class="btn-info">Mais informações</button>
      </div>
    </div>
  </div>
</section>
