.principal {
  background-color: rgb(206, 209, 203);
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: top;
}
.container {
  display: flex;
  flex-direction: row;
}

span {
  color: green;
}
