.principal {
  background-color: rgb(206, 209, 203);
  height: 20;
  display: flex;
  justify-content: center;
  align-items: top;
}

.container {
  display: flex;
  flex-direction: row;
}

span {
  color: green;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border: solid 1px rgb(21, 163, 8);
  background-image: url("../../../assets/img/pedra.jpg");

  background-repeat: no-repeat;
  background-size: cover;
}

.card-img-top {
  height: cover;
  width: cover;
}

.card {
  border: solid 2px rgb(21, 163, 8);
  margin-top: 5px;
  margin-bottom: 5px;
}
.card a {
  border-radius: 40px;
}
button {
  border-radius: 50px;
}

.card:hover {
  border: solid 2px rgb(214, 191, 58);
  border-radius: 11px;
  background-color: transparent;
  color: aliceblue;
  transition: 1s linear;
  transform: translateY(-5px);
}

.fa-whatsapp {
  color: #25d366;
}

.fa-key {
  color: aqua;
}

.fa-pix {
  color: aqua;
}

.img-qr {
  max-width: 85vw;
  width: 30em;
}

.modal img {
  display: flex;
  justify-content: center;
  align-self: center;
}
