<section class="principal">
  <div class="container">
    <h1><span>Ajude</span> esses e outros animais de rua através de doações</h1>
  </div>
</section>

<section class="cards">
  <div class="card" style="width: 18rem">
    <img [src]="cardImagem1" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">titulo do card</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <img [src]="cardImagem1" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <img [src]="cardImagem1" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</section>
<i class="fa-brands fa-whatsapp"></i>
