<section class="principal">
  <div class="container">
    <h1><span>Ajude</span> esses e outros animais de rua através de doações</h1>
  </div>
</section>

<section class="cards">
  <div class="card" style="width: 18rem">
    <img [src]="cardImagem1" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Contato</h5>
      <p class="card-text">
        Em caso de dúvidas e informações, deixarei abaixo meu whatsapp pessoal
      </p>
      <a
        href="https://api.whatsapp.com/send?phone=558393088753"
        class="btn btn-primary"
        ><i class="fa-brands fa-whatsapp fa-xl"></i> Contato</a
      >
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <img [src]="cardImagem1" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Doações</h5>
      <p class="card-text">
        Chaves pix para doações: Telefone: 839999999 E-mail: contato@example.com
        cnpj: XX. XXX. XXX/0001-XX
      </p>
      <a href="#" class="btn btn-primary"
        ><i class="fa-brands fa-pix fa-xl"></i> Doe através do QR code</a
      >
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <img [src]="cardImagem1" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</section>
