<section class="principal">
  <div class="container">
    <h1><span>Ajude</span> esses e outros animais de rua através de doações</h1>
  </div>
</section>

<section class="cards">
  <div class="card" style="width: 18rem">
    <img [src]="cardImagem1" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Contato</h5>
      <p class="card-text">
        Em caso de dúvidas e informações, deixarei abaixo meu whatsapp pessoal
      </p>
      <a
        href="https://api.whatsapp.com/send?phone=558393088753"
        class="btn btn-primary"
        ><i class="fa-brands fa-whatsapp fa-xl"></i> Contato</a
      >
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <img [src]="cardImagem1" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Doações</h5>
      <p class="card-text">
        Chaves pix para doações: Telefone: 8393088753 E-mail:
        contatoajudepet@gmail.com
      </p>
      <!-- Button trigger modal -->
      <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#imageModal"
      >
        <i class="fa-brands fa-pix fa-xl"></i> Doe através do QR code
      </button>
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <img [src]="cardImagem1" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Página para adoções em breve</h5>
      <p class="card-text">
        Está precisando de mais alegria no seu lar? adote um animalzinho e torne
        sua vida mais feliz
      </p>
      <a href="#" class="btn btn-primary">Disponíveis para adoção</a>
    </div>
  </div>
</section>
<!-- modal -->
<div class="modal" id="imageModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img [src]="fakeQrcode" alt="Imagem" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Fechar
        </button>
      </div>
    </div>
  </div>
</div>
