.logo {
  height: 3em;
  width: 3em;
  border: solid 1px #0a0101;
  border-radius: 40px;
  margin-right: 10px;
  margin-bottom: -10px;
  margin-left: -20;
  margin-top: -10px;
}
/* .parceiros {
  height: 15em;
  width: 15em;
  display: flex;
  justify-content: center;
} */
.parceiros img {
  width: 5em;
  height: 5em;
}

li p img {
  width: 3em;
  height: 3em;
  margin-right: 5px;
}
span {
  color: green;
}

.navbar-toggler-icon {
  color: green;
}
.navbar-toggler-icon {
  background-color: rgb(126, 202, 12);
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item img {
  max-height: 7rem;
}

#carouselExampleFade {
  width: 60vw;
  margin-left: 40px;
}

@media (max-width: 576px) {
  .alogo img {
    margin-left: -10px;
  }

  .carousel-item img {
    max-height: 4rem;
    margin-left: -15px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .alogo img {
    margin-left: -10px;
  }
  #carouselExampleFade {
    width: 46vw;
    margin-top: -55px;
    margin-bottom: -5px;
  }
  .carousel-item img {
    max-height: 4rem;
    margin-left: 50px;
  }
}
@media (min-width: 769px) {
  #carouselExampleFade {
    max-width: 45vw;
    margin-left: 230;
    margin-top: -55px;
  }
  .carousel-item img {
    max-height: 8vh;
  }
}

@media (min-width: 795px) and (max-width: 991px) {
  #carouselExampleFade {
    max-width: 45vw;
    margin-left: 220px;
    margin-top: -75x;
  }
  .carousel-item img {
    max-height: 8vh;
  }
}
@media (min-width: 992px) {
  #carouselExampleFade {
    max-width: 35vw;
    margin-left: 220px;
    margin-top: -5px;
    margin-bottom: -5px;
  }
  .carousel-item img {
    max-height: 9vh;
  }
}
