.logo {
  height: 3em;
  width: 3em;
  border: solid 1px #0a0101;
  border-radius: 40px;
  margin-right: 10px;
  margin-bottom: -10px;
  margin-left: -20;
  margin-top: -10px;
}
ul a {
  color: rgb(252, 252, 252);
}

/* teste da nova nav */
