<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand alogo" routerLink="/"
        ><img
          class="logo"
          src="../../assets/img/compartilhamento.png"
          alt="logotipo"
        /><span>Ajude</span> pet - Ingá</a
      >

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <!-- <div
              id="carouselExampleFade"
              class="carousel slide carousel-fade d-flex justify-content-end"
              data-bs-ride="carousel"
              data-bs-interval="3000"
            >
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    src="../../../assets/img/card1.avif"
                    class="d-block w-100"
                    alt="Imagem da primeira propaganda"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../../../assets/img/card2.avif"
                    class="d-block w-100"
                    alt="Imagem da segunda propaganda"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../../../assets/img/card1.avif"
                    class="d-block w-100"
                    alt="imagem da terceira propaganda"
                  />
                </div>
              </div>
              <button
                class="carousel-control-prev d-none"
                type="button"
                data-bs-target="#carouselExampleFade"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Anterior</span>
              </button>
              <button
                class="carousel-control-next d-none"
                type="button"
                data-bs-target="#carouselExampleFade"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">próximo</span>
              </button>
            </div> -->
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
